[mysqld]
# Cluster node configurations
wsrep_cluster_name=Appcara
wsrep_cluster_address="gcomm://{% for node in groups['mysql'] %}{{ hostvars[node]['ansible_default_ipv4']['address'] }}{% if not loop.last %},{% endif %}{% endfor %}"
wsrep_node_name={{ ansible_hostname }}
wsrep_node_address={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
# Mandatory settings to enable Galera
wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
binlog_format=ROW
default-storage-engine=InnoDB
innodb_autoinc_lock_mode=2
innodb_doublewrite=1
query_cache_size=0
#bind-address=0.0.0.0
# Galera synchronisation configuration
wsrep_sst_method=rsync
